/* global styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #0a3641;
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Homepage */

/* header */
.background-image {
  background-image: url(images/main-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
  min-height: 230px;
  max-height: 1000px;
  margin: 0px;
}

.main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 26%;
  min-height: 219px;
  margin: 0px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.logo {
  width: 5rem;
  max-width: 200px;
  height: auto;
}

.genders {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-family: "poppins", sans-serif, Verdana, Tahoma;
  font-weight: 500;
  letter-spacing: 0.1rem;
  align-items: center;
}

.navicons {
  display: flex;
  gap: 1rem;
}

.men,
.women,
.searchicon,
.heart,
.cart {
  text-decoration: none;
  color: #0a3641;
}

.cart {
  width: 1rem;
  height: auto;
}

.heart {
  font-size: 1rem;
  height: auto;
  padding: 0;
}

.searchicon {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0;
}

#searchbox,
#checkboxsearch {
  display: none;
}

#checkboxsearch:checked ~ #searchbox {
  display: block;
}

.searchfunction {
  position: static;
}

#searchbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border: none;
  padding: 15px 100px;
  border-radius: 16px;
  font-size: 1.5rem;
}

/* main */

main {
  margin: 0px;
  text-align: center;
}

h1,
h2 {
  color: #ffffff;
  font-family: "poppins", sans-serif, Verdana, Tahoma;
  text-align: center;
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

h2 {
  font-weight: 400;
  font-size: 1rem;
}

.scroll-button {
  display: inline-block;
  background-color: #ffb738;
  color: #0a3641;
  padding: 2rem 1rem;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 545;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-decoration: none;
}

.activity-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 2rem 3rem;
  align-items: center;
  max-width: 1200px;
  justify-self: center;
  justify-content: center;
}

.activity-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#hiking {
  object-position: center;
}

#canoeing {
  object-position: center 100%;
}

#camping {
  object-position: center 97%;
}

#skiing {
  object-position: center 100%;
}

#men {
  object-position: 20% center;
}

#women {
  object-position: center 0%;
}

.img-overlay {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.img-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #135869;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0rem;
  overflow: hidden;
}

.overlay p {
  margin: 1.5rem;
}

.jackets-for {
  color: #ffffff;
  font-size: 2rem;
  font-family: "poppins", sans-serif, Verdana, Tahoma;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: -30px;
}

.jackets-for-gender {
  color: #ffffff;
  font-size: 2rem;
  font-family: "poppins", sans-serif, Verdana, Tahoma;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 0px;
}

.gender-button {
  display: inline-block;
  background-color: #ffb738;
  color: #0a3641;
  padding: 1rem 1.5rem;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 550;
  border: none;
  border-radius: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  position: relative;
  top: -10%;
}

.img-overlay:hover .overlay {
  opacity: 1;
}

.shop-button-smaller {
  background-color: #ffb738;
  color: #0a3641;
  padding: 25px 35px;
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: 505;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
  margin-top: 10px;
}

/* footer */
footer {
  background-color: #04161b;
  min-height: 400px;
}

.footer-nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  text-decoration: none;
}

.footer-links {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-family: "poppins", sans-serif, Verdana, Tahoma;
}

@media (min-width: 768px) {
  .background-image {
    min-height: 400px;
  }
  .footer-links {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1.5rem;
  }
}

@media (min-width: 1020px) {
  .background-image {
    min-height: 650px;
  }
  .navigation {
    min-height: 12rem;
  }
  .logo {
    min-width: 15rem;
  }
  .genders {
    font-size: 2rem;
    gap: 2rem;
  }
  .navicons {
    gap: 2rem;
  }
  .cart {
    width: 2rem;
  }
  .heart {
    font-size: 2rem;
  }
  .searchicon {
    font-size: 1.8rem;
  }
  .footer-links {
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 2rem;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .scroll-button {
    display: none;
  }
}

@media (min-width: 820px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .scroll-button {
    margin-bottom: 10rem;
  }
  .activity-images {
    margin-bottom: 10rem;
    gap: 6rem;
  }
}

@media (max-width: 900px) {
  .shop-button-smaller {
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 450;
    border-radius: 1rem;
    margin-top: 0;
  }
  .jackets-for-gender {
    font-size: 1rem;
    font-weight: 400;
  }
  .gender-button {
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    border-radius: 1rem;
    top: -15%;
  }
  .jackets-for {
    font-size: 1rem;
    font-weight: 400;
  }
}

/* Men and women */

.navigation-rest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 2rem;
  top: 0;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 10px 60px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #0a3641;
  list-style: none;
  font-size: 1.8rem;
}

.breadcrumbs span {
  font-size: 1.8rem;
  color: #0a3641;
}

.banner {
  background-color: #e8f5ff;
  color: #0a3641;
  margin: 60px 0px;
  padding: 30px 0px;
}

.product-pictures {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin: 60px;
}

.product-pictures img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#hike-red {
  object-position: center;
}

.picture-layer {
  position: relative;
  width: 400px;
  height: 400px;
}

.picture-layer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture-layer:hover .layer {
  opacity: 1;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.654);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.view-button {
  background-color: #ffb738;
  color: #0a3641;
  padding: 15px 70px;
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: 550;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}

#price {
  font-size: 2rem;
}

.product-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "poppins", sans-serif, Verdana, Tahoma;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}

.product-text p {
  margin: 0px;
}

#hike-orange {
  object-position: center 100%;
}

#ski-red {
  object-position: center 15%;
}

#ski-violet {
  object-position: center 95%;
}

#ski-burgundur {
  object-position: center 0%;
}

#camp-yellow {
  object-position: 10% 0%;
}

#canoe-black {
  object-position: center 65%;
}

#yell-hike {
  object-position: center 100%;
}

#red-camping {
  object-position: center 90%;
}

#white-camping {
  object-position: center 90%;
}

#re-camping {
  object-position: center 100%;
}

#blue-skiing {
  object-position: center 75%;
}

#green-skiing {
  object-position: center 90%;
}

/* Product Details */

.main-product {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.jacket-container {
  display: flex;
  gap: 80px;
  margin-top: 60px;
  margin-bottom: 150px;
}

.waterproof-jacket {
  display: flex;
  flex-direction: column;
  align-self: left;
  height: 30rem;
  width: auto;
}

.rest {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.details-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  color: #fff;
  gap: 0px;
}

.details-text p {
  margin: 0px;
}

.white-heart {
  color: #fff;
  font-size: 3rem;
}

.size-selector {
  margin-left: -350px;
  color: #fff;
}

.shop-button-small {
  background-color: #ffb738;
  color: #0a3641;
  padding: 2rem 3rem;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 505;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
  margin-top: 2rem;
}

.cart-favourite {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
}

@media (max-width: 900px) {
  .waterproof-jacket {
    height: 10rem;
  }
  .details-text {
    font-size: 1rem;
  }
  .white-heart {
    font-size: 1rem;
  }
  .size-selector {
    font-size: 1rem;
  }
  .shop-button-small {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    margin-top: 1rem;
  }
  .rest {
    gap: 0.5rem;
  }
  .cart-favourite {
    gap: 1rem;
  }
  .size-selector {
    margin-left: 0;
  }
}

/*Cart*/

.main-cart {
  display: flex;
  justify-content: space-around;
}

.cart-product {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 80px;
  background-color: #e8f5ff;
  padding: 20px;
  gap: 80px;
  align-items: center;
}

.cart-image {
  height: 250px;
  width: auto;
}

.cart-text {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cart-text p {
  margin: 0px;
}

.number-price {
  display: flex;
  align-items: center;
  gap: 12px;
}

.favourite-remove {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.move-to-checkout {
  display: flex;
  flex-direction: column;
  background-color: #e8f5ff;
  margin-top: 60px;
  padding: 20px;
  margin-bottom: 80px;
}

.discount-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.disc {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.apply-button {
  background-color: #ffb738;
  color: #0a3641;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
}

.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-checkout {
  background-color: #ffb738;
  color: #0a3641;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 10px 25px;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .cart-product {
    flex-direction: column;
  }
  .main-cart {
    flex-direction: column;
  }
}

/* Checkout */

.checkout-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #e8f5ff;
  justify-content: center;
  font-size: 2rem;
}

.your-information {
  display: flex;
  flex-direction: row;
  background-color: #e8f5ff;
  width: 100%;
  justify-content: space-around;
  height: 30%;
}

.email-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adress-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phone-number-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delivery-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: #e8f5ff;
}

.payment-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: #e8f5ff;
  padding-bottom: 80px;
}

.pay-button {
  background-color: #ffb738;
  padding: 10px 25px;
  font-size: 4rem;
  text-decoration: none;
  color: #0a3641;
  border-radius: 15px;
}

@media (max-width: 600px) {
  #your-info-box {
    width: 7rem;
  }
  .pay-button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 1rem;
  }
}

/* Order details */
.final-info {
  display: flex;
  flex-direction: column;
  background-color: #e8f5ff;
  color: #000;
  margin: 100px;
  padding: 30px;
  padding-bottom: 50px;
  font-size: 1.5rem;
}

.final-header {
  color: #000;
}
